---
import '@fontsource-variable/montserrat';
import { Picture } from 'astro:assets';

const { pageTitle } = Astro.props;
---

<html lang='en' class="overflow-x-hidden">
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body class='bg-[--clr-neutral-1] relative overflow-x-hidden'>
    <Picture
      src={'/images/bg-top.svg'}
      alt={''}
      width={375}
      height={658}
      class={'absolute -right-48 -top-8 overflow-x-clip -z-50'}
    />
    <slot />
  </body>
</html>

<style>
  body {
    font-family: 'Montserrat Variable', sans-serif;
  }
</style>
